<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Details</title>
</head>
<body>
    <h1>User Details</h1>
    <p>Exercise Name: {{ exercise.exercise_name }}</p>
    <p>Exercise Type: {{ exercise.exercise_type }}</p>
    <p>Exercise Distance: {{ exercise.exercise_distance }}</p>
    <p>Exercise Description: {{ exercise.exercise_description }}</p>
    <p>User: {{ exercise.user }}</p>
    <p>Exercise Date: {{ exercise.exercise_date }}</p>
    <p>Exercise Time: {{ exercose.exercise_time}}</p>
    
     <a href="{% url  'activitymanager:edit_exercise' exercise.exercise_id %}"><button>Edit Exercise</button></a>
   
</body>
</html>